.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}
